benchmarks/packages/spider.zip filter=lfs diff=lfs merge=lfs -text
benchmarks/packages/bird.zip filter=lfs diff=lfs merge=lfs -text
benchmarks/**/*.json whitespace=-trailing-space
benchmarks/**/*.csv whitespace=-trailing-space
